@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Readex Pro", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(-45deg, hsl(204, 90%, 28%), #21619a, #033f68, #031c32);
  background-size: 400% 400%;
  animation: gradientAnimation 30s ease infinite;

}

@keyframes gradientAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 50%;
  }
}
